<div>
  <br>
  <h3>Add File for Case Statistics</h3>
  <form action="/upload/stats" enctype="multipart/form-data" method="POST">
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="file" id="customFile">
      <label class="custom-file-label" for="customFile">Choose file</label>
      <input class="btn btn-dark" type="submit" value="Upload .CSV File" />
    </div>
  </form>
  <br>
  <br>
  <h3>Add File for Vaccination Statistics</h3>
  <form action="/upload/vacc" enctype="multipart/form-data" method="POST">
    <div class="custom-file">
      <input type="file" class="custom-file-input-2" name="file" id="customFile-2">
      <label class="custom-file-label" for="customFile">Choose file</label>
      <input class="btn btn-dark" type="submit" value="Upload .CSV File" />
    </div>
  </form>
</div>
<script type="text/javascript" src="/js/update.js"></script>