
* {
  text-align: center;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
  
}

h1 {
  padding-top: 8%;
  text-decoration: underline;
}

h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration: underline;
  font-size: 40px;
}

p {
  font-size: 30px;
}

span {
  color: red;
}

.headline {
  font-size: 90px;
}

.sub-headline {
  font-size: 30px;
}

.main {
  background-image: url("https://2.bp.blogspot.com/-bwBkLra5f3w/VvxQaMhxQRI/AAAAAAAAE_U/7CUQFgosAkYFhIMEDFacn_cwRb0Dwspog/s1600/black%2Bmodern%2Bstylish%2Bbackground%2Bhd%2Bwallpaper.jpg");
  background-size: cover;
  background-repeat: none;
  min-height: 100vh;
  margin-top: -31px;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #e9ecef;
  justify-content: center;
  line-height: 50px;
  color: rgb(39, 28, 28);
}

a.nav-link {
  color: #e9ecef;
}

a.nav-link:hover {
  color: red;
}


/* search by state */
.state-options {
  margin-top: 50px;
}

/* dropdown rows */
div.dropdown-multicol{
  width: 30em;
}
div.dropdown-row>a.dropdown-item{
  display:inline-block;
  width: 32%;
}

/* dropdown columns */
div.dropdown-multicol2{
  width: 30em;
}
div.dropdown-multicol2>div.dropdown-col{
  display:inline-block;
  width: 32%;
}

.dropdown-menu {
  overflow-y:auto; 
  max-height:30vh
 }

 /* update data page */

 .validation {
   margin: 10px 10px -3px 21%;
   width: 60%;
   float: right;
 }

 .btn:hover {
  color: red;
 }

 .add-stats {
   color: white;
   width: 30%;
   margin-left: 35.5%;
   margin-top: 70px;
 }

 /* search by address page */

 .search {
   width: 82%;
   padding-left: 18%;
 }

 /* signup page */

 #signup-here {
   color: red;
 }

 #signup-here:hover {
   color: red;
 }

 /* site results page */

 #address {
  margin-top: 10px;
  margin-bottom: -10px;
  color:black; 
  font-size: 20px;
 }

 .card-header {
   color: white;
   background-color: black;
   font-size: 30px;
   border: .5px solid rgb(159, 37, 37);
   box-shadow: 3px 3px rgb(159, 37, 37);
 }

 .card {
   margin-top: 10px;
   margin-left: 15%;
   width: 70%;
   background-color: #e9ecef;
   /* box-shadow: 3px 3px darkgray; */
 }